---
http_interactions:
  - request:
      method: get
      uri: https://api.duckduckgo.com/?q=Ruby%20programming&format=json
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"AbstractText":"Ruby is an interpreted, high-level, general-purpose programming language which supports multiple programming paradigms. It was designed with an emphasis on programming productivity and simplicity. In Ruby, everything is an object, including primitive data types.","AbstractSource":"Wikipedia","AbstractURL":"https://en.wikipedia.org/wiki/Ruby_(programming_language)","Image":"","Heading":"Ruby (programming language)","RelatedTopics":[{"Result":"<a href=\"https://duckduckgo.com/Ruby_(programming_language)\">Ruby (programming language)</a> - Ruby is an interpreted, high-level, general-purpose programming language which supports multiple programming paradigms.","Icon":{"URL":"","Height":"","Width":""},"FirstURL":"https://duckduckgo.com/Ruby_(programming_language)","Text":"Ruby (programming language) - Ruby is an interpreted, high-level, general-purpose programming language which supports multiple programming paradigms."}],"Type":"A","Redirect":"","Definition":"","DefinitionSource":"","DefinitionURL":"","Answer":"","AnswerType":"","Infobox":"","meta":{"attribution":null,"blockgroup":null,"created_date":null,"description":"Ruby is an interpreted, high-level, general-purpose programming language which supports multiple programming paradigms.","designer":null,"dev_date":null,"dev_milestone":null,"developer":[{"name":"Yukihiro Matsumoto","url":"https://en.wikipedia.org/wiki/Yukihiro_Matsumoto"}],"license":[{"name":"Ruby License","url":"https://en.wikipedia.org/wiki/Ruby_License"}],"producer":null,"production_date":null,"release_date":"1995-12-21","version":"3.2.2"}}'
    recorded_at: Fri, 27 Feb 2025 19:30:42 GMT
